<app-nav-bar></app-nav-bar>

<!-- <h1>Welcome {{data.name}}</h1>
<p>Designation: {{data.designation}}</p>
<p>Salary: {{data.salary}}</p>
<p>Email id: {{data.emailid}}</p>
<p>Company Name: {{data.companyName}}</p> -->

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table table-borderless">
                <thead>
                  <tr >

                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Email id</th>
                    <th scope="col">Company</th>

                  </tr>

                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    <td>{{i.name}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.salary}}</td>
                    <td>{{i.emailid}}</td>
                    <td>{{i.companyName}}</td>

                  </tr>
                  
                </tbody>
                
            </table>
        </div>
    </div>
</div>